<!doctype html>
<meta charset="utf-8">
<title>Diagrams</title>
<style>
    div {
        margin-bottom: 2em;
    }
</style>
<form method="POST">
    <input type="text" name="title" placeholder="Write here">
    <input type="submit" value="Tweet">
</form>
<hr>
<#list diagrams as diagram>
    <div>
        <a href="${diagram.url}">${diagram.title}</a>
        <form method="POST" action="/diagrams/${diagram.diagramId}/delete">
            <input type="submit" value="Delete">
        </form>
    </div>
</#list>